.header{
    height: 80px;
    position: relative
}
.header__container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    /* padding: 0 3rem; */
}
.header__container > ul{
    display: flex;
    list-style: none;
    flex: 0.25;
    justify-content: space-between;
    font-weight: 600;
    padding-left: 5rem;
    max-width: 300px;
}
.header_item {
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.active_header_item{
    color: #5ECE7B;
    border-bottom: 2px solid #5ECE7B;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__logo > img{
    cursor: pointer;
}
.header__currency__cart{
    flex: 0.25;
    /* margin-right: 3rem; */
    display: flex;
    justify-content: right;
}
.header__currency > div{
    font-size: 18px;
    font-weight: 800;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 75px;
    position: relative;
}
.header__currency > div > p{
    cursor: pointer;
}
.header__currency > div > img{
    margin-left: 0.4rem;
    cursor: pointer;
}
.currencies__dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    background: white;
    z-index: 99;
}
.currencies__dropdown > li{
    cursor: pointer;
    padding: 0.5rem 0;
}
.currencies__dropdown > li:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
.header__cart{
    display: flex;
    align-items: center;
}
.header__cart > div{
    padding-right: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.img_pointer{
    cursor: pointer;
}
.image_unset{
    cursor: unset;
}
.header__cart > div > h5{
    background: black;
    color: white;
    font-size: 14px;
    font-weight: 700;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: -0.3rem;
}
.cart__overlay{
    position: absolute;
    z-index: 999;
    background: rgba(57, 55, 72, 0.22);
    width: 100%;
    min-height: 100vh;
}
.cart__overlay__body{
    float: right;
    background: white;
    margin-right: 3rem;
    width: 375px;
    padding: 1rem;
    max-height: 600px;
    display: flex;
    flex-direction: column;
}
.cart__overlay__products{
    flex: 1;
    overflow: auto;
}
.cart__overlay__body > h4{
    font-weight: 500;
    margin-bottom: 1.6rem;
}
.cart__overlay__body > h4 > span{
    font-weight: 900;
}
.cart__overlay__product{
    display: flex;
    margin: 1rem 0 2rem;
}
.cart__overlay__product__info{
    display: flex;
    flex: 1;
}
.cart__overlay__product__info__body{
    flex: 1;
    min-width: 185px;
}
.cart__overlay__product__info__body > h3, .cart__overlay__product__info__body > h4{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 6px;
}
.cart__overlay__product__info__body > h5{
    padding-top: 9px;
}
.cart__overlay__product__info__howMany{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0.5rem;
}
.cart__overlay__product__info__howMany > div > p{
    width: 24px;
    height: 24px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart__overlay__product__info__howMany__p__no__border{
    border: none !important;
}
.cart__overlay__product__info__atts{
    margin: 1.5rem 0;
}
.cart__overlay__product__info__atts > h5{
    margin-top: 1.5rem;
}
.cart__overlay__product__info__single_att{
    display: flex;
    margin: 0.5rem 0 1rem;
}
.cart__overlay__product__info__single_att > div{
    width: 35px;
    height: 35px;
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px !important;
}
.cart__overlay__product__info__single_att__selected{
    background: white;
    color: black;
    border: 1px solid #1D1F22;
}
.cart__overlay__product__info__single_att__unselected{
    background: #A6A6A633;
    color: #A6A6A6;
    border: 1px solid #A6A6A6;
}
.cart__overlay__product__pic{
    display: flex;
    align-items: center;
    width: 105px;
}
.cart__overlay__product__pic > img{
    width: 100%;
}
.cart__total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    font-weight: 900;
    font-size: 16px;
}
.cart__btn{
    display: flex;
    justify-content: space-around;
}
.cart__btn > button, .cart__btn > a > p{
    width: 140px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.cart__btn__bag{
    background: white;
    border: 1px solid #1D1F22;
    color: #1D1F22;
}
.cart__btn__checkout{
    background: #5ECE7B;
    border: none;
    color: white;
}